body {
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#overall,
#puzzle_container {
	width: 400px;
}

#shuffle {
	padding-top: 10px;
	text-align: center;
}

h1 {
	margin: 10px 0px;
	text-align: center;
    background-color: coral;
    color:white;
    font-size: 40pt;
}

div{
	text-align: center;
}

h2{
    
    color: purple;
    font-size:10pt;
}

/* Used to center the puzzle. */
#overall {
	margin-left: auto;
	margin-right: auto;
}

/* The area that holds the 15 puzzle pieces. */
#puzzle_container {
	font-size: 32px;
	height: 400px;
	padding: 0px;
	position: relative;
    align-items: center;
	margin: auto;
}

/* This class should be applied to each of the 15 puzzle pieces. */
.puzzle_block {
 
	border: 2px solid black;
	height: 96px;
	line-height: 96px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 96px;
}


ul{
	align-items: center;
	vertical-align: middle;
}

/* This class should be applied to a puzzle piece that can be moved. */
.movablepiece:hover {
	border-color: red;
	color: #006600;
	text-decoration: underline;
}
